---
---

<main>
  {% for object in site.data.games %}
    {% assign games = object[1] | sortBy:"start" %}
    {% assign date  = games[0].start %}

    <section>
      {% assign day = date | date: "%-d" %}

      <h1>
        <time datetime="{{ date | date: "%FT%T%:z" }}">
          {{ date | date: "%B" }}
          {% case day %}
            {% when "1" or "21" or "31" %}
              {{ day }}st
            {% when "2" or "22" %}
              {{ day }}nd
            {% when "3" or "23" %}
              {{ day }}rd
            {% else %}
              {{ day }}th
          {% endcase %}
        </time>
      </h1>

      <table>
        {% for game in games %}
          <tr>
          <th>
            <time datetime="{{ game.start | date: "%FT%T%:z" }}">
              {{ game.start | date:"%l:%M %p" }}
            </time>
          </th>
          <td>
            {% assign away_name = site.data.teams[game.away].name %}
            {% assign home_name = site.data.teams[game.home].name %}

            <a href="{{ site.baseurl }}/{{ away_name | slugify }}/">{{ away_name }}</a>
            <span>@</span>
            <a href="{{ site.baseurl }}/{{ home_name | slugify }}/">{{ home_name }}</a>
          </td>
          </tr>
        {% endfor %}
      </table>
    </section>
  {% endfor %}
</main>
