---
---

<main>
  {% if site.data.games == "POSTPONED" %}
    <section class="empty postponed hidden">
      <h1>Hockey is postponed.</h1>
    </section>
  {% else %}
    <section class="empty hidden">
      <h1>No games scheduled&#8230;</h1>
    </section>
  {% endif %}

  {% for object in site.data.games %}
    {% assign games = object[1] | sortBy:"start" %}
    {% assign date  = games[0].start %}

    <section>
      {% assign day = date | date: "%-d" %}

      <h1>
        {% if date contains "03:00:00 -0400" or date contains "02:00:00 -0400" or date contains "01:00:00 -0400" %}
          {% assign date = date | date: "%s" | plus: 86400 | date: "%F" %}
        {% endif %}

        <time datetime="{{ date | date: "%FT%T%:z" }}">
          {{ date | date: "%B" }}
          {% case day %}
            {% when "1" or "21" or "31" %}
              {{ day }}st
            {% when "2" or "22" %}
              {{ day }}nd
            {% when "3" or "23" %}
              {{ day }}rd
            {% else %}
              {{ day }}th
          {% endcase %}
        </time>
      </h1>

      <table>
        {% for game in games %}
          <tr>
          <th>
            {% if game.complete %}
              {{ game.away.score }} &#8211; {{ game.home.score }}
            {% elsif game.start contains "03:00:00 -0400" or game.start contains "02:00:00 -0400" or game.start contains "01:00:00 -0400" %}
              TBD
            {% else %}
              <time datetime="{{ game.start | date: "%FT%T%:z" }}">
                {{ game.start | date:"%l:%M %p" }}
              </time>
            {% endif %}
          </th>
          <td>
            {% assign away_name = site.data.teams[game.away.id].name %}
            {% assign home_name = site.data.teams[game.home.id].name %}

            <a href="{{ site.baseurl }}/{{ away_name | slugify }}/">{{ away_name }}</a>
            <span>@</span>
            <a href="{{ site.baseurl }}/{{ home_name | slugify }}/">{{ home_name }}</a>
          </td>
          </tr>
        {% endfor %}
      </table>
    </section>
  {% endfor %}
</main>
