html,
body {
  height: 100%;
}

html {
  font-size: 90%;

  // Scales by 1px for every 100px from 600px onwards
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }

  // Sets font-size to 22px after a viewport of 1000px
  @media (min-width: 1000px) {
    font-size: 137.5%;
  }
}

body {
  background: $white;
  color: $black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
}

a {
  color: $black;
  text-decoration: none;
}

header {
  padding: 4vw;

  h1 {
    font-size: 7vw;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: 125px;
    }
  }
}

main {
  padding: 0 4vw 4vw;
}

section {
  display: none;

  &.week {
    display: block;
  }

  + section {
    padding-top: 6vw;
  }

  h1 {
    color: $gray;
    font-size: 3.5vw;
    font-weight: 300;
  }

  table {
    margin: 1vw 0 0;
    font-size: 4.25vw;
    line-height: 1.5;
  }

  th {
    color: $black;
    font-weight: 200;
    text-align: right;
    opacity: 0.66;
  }

  td {
    padding: 0 0 0 2vw;
    font-weight: 800;

    a:hover {
      color: $blue;
    }

    span {
      font-weight: 300;
    }
  }
}

footer {
  padding: 4vw;
  text-align: center;

  a {
    color: $black;
    border-bottom: 0.1rem solid $gray;

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }

  p {
    font-size: 0.8rem;
    line-height: 2.25;

    + p {
      &,
      a {
        color: $gray;
        border-color: $silver;
      }

      + p {
        color: $silver;
      }
    }
  }
}
