$aqua:    #7FDBFF;
$black:   #111;
$blue:    #0074D9;
$fuchsia: #F012BE;
$gray:    #AAA;
$green:   #2ECC40;
$lime:    #01FF70;
$maroon:  #85144B;
$navy:    #001F3F;
$olive:   #3D9970;
$orange:  #FF851B;
$purple:  #B10DC9;
$red:     #FF4136;
$silver:  #DDD;
$teal:    #39CCCC;
$white:   #FFF;
$yellow:  #FFDC00;
