html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, dl, dt, dd, ol, ul, li, strong,
fieldset, form, label, legend, button,
article, aside, footer, header, nav, section, time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, footer, header, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}
